<!DOCTYPE html>
	<head>
        <title><%= title %></title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="/stylesheets/bootstrap-superhero.css"/>
		<link rel="stylesheet" href="/stylesheets/bootstrap-tags.css"/>
		<link rel="stylesheet" href="/stylesheets/general.css"/>
        <link rel="stylesheet" href="/stylesheets/dashboard.css"/>
        <script type="text/javascript" src="/javascripts/Chart.js"></script>
        <script type="text/javascript" src="/javascripts/data.js"></script>
        
       
        <script src='/javascripts/moment.min.js'></script>
        <script src='/javascripts/jquery.js'></script>
        <script src='/javascripts/fullcalendar.min.js'></script>
        
        <script type="text/javascript" src="/javascripts/bootstrap.js"></script>
        <script type="text/javascript" src="/javascripts/date.js"></script>
	</head>
    <body>

        <% include ../../shared/_navbar %>
        <div class="container" style="padding-top: 100px">
            <div class="row">
                
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <h1 class="panel-heading">
                            <%= title %> <!--Welcome Yong-->
                        </h1>
                        <!-- First Section-->
                        <div class="panel-body">
                            <div class="row">
                                <!--Weekly Course Schedule-->
                                <div class="col-xs-12 col-sm-9 col-md-9">
                                    <div class="course-panel panel panel-default">
                                        <div class="panel-heading">
                                            My Weekly Schedule
                                        </div>
                                        <div class="panel-body calendar-body">
                                            <div id="calendar">
                                            </div>
                                        </div>
                                    </div>                                       
                                </div>
                                <!--Current courses-->
                                <div class="col-xs-12 col-sm-3 col-md-3">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            Current Courses
                                        </div>
                                        <div class="list-group" id="course-list">
                                            
                                        </div>
                                    </div>                                       
                                </div>
                            </div>
                        </div>
                        
                        <!-- Second Section-->
                        <div class="panel-body">
                            <div class="row">
                                <!--Quarter GPA-->
                                <div class="col-md-6">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            My Difficulty Load vs GPA
                                        </div>
                                        <div class="panel-body">
                                            <div>
                                                <canvas id="canvas" height="300" width="600"></canvas>
                                            </div>
                                        </div>
                                    </div>                                       
                                </div>
                                <!--Overall GPA-->
                                <div class="col-md-6">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            My GPA Progress
                                        </div>
                                        <div class="panel-body">
                                            <div>
                                                <canvas id="canvas2" height="300" width="600"></canvas>
                                            </div>
                                        </div>
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                        <!-- Third Section-->
                        <div class="panel-body">
                            <div class="row">
                                <!--Quarter GPA-->
                                <div class="col-md-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            Each Major's Average GPA
                                        </div>
                                        <div class="panel-body">
                                            <div>
                                                <canvas id="canvas5" height="200" width="600"></canvas>
                                            </div>
                                        </div>
                                    </div>                                       
                                </div>                                
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>        
        </body>
    </head>
</html>