<!DOCTYPE html>
<html>
    <head>
        <% include ../shared/_header %>
        <link rel="stylesheet" href="/stylesheets/typeahead.css"/>
        <link rel="stylesheet" href="/stylesheets/select2.css"/>
        <link rel="stylesheet" href="/stylesheets/index.css"/>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
        <script type="text/javascript" src="/javascripts/typeahead.bundle.js"></script>    
    </head>
    <body style="width: 100%; background: #fff">
        <!-- navbar -->
        <% include ../shared/_navbar %>
        
        
        
        <div style="container-fluid">
            <div class="row">
                <div class="top">
                    <div style="margin-top: 150px">
                        <h1 class="text-center gold-text">Et Tu Brute?</h1>
                        <h2 class="text-center gold-text lato animate slideInDown">NU Course Scheduling Made Easy.</h2>
                        <p class="text-center">
                        <br>
                        <a href="/register" class="btn btn-gold btn-lg btn-huge">Sign Up Now</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container" style="padding-top: 470px">
            <div class="row">
                <div class="middle">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="col-md-4">
                            <h3><b>Smart Search</b></h3>
                                <p style="padding-top: 10px">Accurately search through tens of thousands of classes in a matter of seconds.</p><br>
                                    <img src="/images/list.png" style="width:40px;height:40px;">                                
                        </div>
                        <div class="col-md-4">
                            <h3><b>Easy Planning</b></h3>
                                <p style="padding-top: 10px">Don't waste hours of time planning next quarter's class schedule.</p><br>
                                    <br><img src="/images/watch.png" style="width:40px;height:40px;">
                        </div>
                        <div class="col-md-4">
                            <h3><b>In-Depth Reviews</b></h3>
                                <p style="padding-top: 10px">Find out about class information, difficulty, professor's rating and other students' reviews, all in one place.</p>
                                    <br><img src="/images/detail.png" style="width:40px;height:40px;">
                        </div>
                    </div>
                    <div class="col-md-1"></div>                    
                </div>
            </div>
        </div>
        
        <div class="container">
            <div class="row">
                <div class="grey">           
                    <div class="col-md-5  col-xs-12" style="margin-left: 100px; margin-top: 75px;">
                        <img src="/images/imac.png" style="width:467px;height:350px;">                            
                    </div>                    
                    <div class="col-md-5">
                        <h3 style="padding-top: 100px"><b>Tired of CAESAR?</b></h3>
                            <p style="padding-top: 10px">We all know how frustrating CAESAR's slow and unfriendly search process is.
                                Brutus lets you search through every single Northwestern University course in a fraction of the time.
                            </p>
                            <p style="padding-top: 10px"><font size="2">Brutus search has all courses offered since 2010.</p>
                            <p style="padding-top: 10px"><font size="2">Brutus uses NU API to update the course list everyday to provide most up to a date information.</p>                         
                    </div>
                    <div class="col-md-2"></div>                      
                </div>
            </div>
        </div>
        
        <div class="container" style="padding-top: 225px">
            <div class="row">
                <div class="white">
                    <div class="col-md-1"></div>                                 
                    <div class="col-md-5">
                        <h3 style="padding-top: 100px"><b>Plan your classes in minutes,<br> not hours</b></h3>
                            <p style="padding-top: 10px"><font size="3">Worrying about degree requirements is stressful enough as it is. 
                                Nobody should be forced to spend hours and hours sifting through CTECS just to determine which professor to take a class with.
                                <br><br>With Brutus, you can find out all the necessary information about a class all
                                on one easy-to-read page.
                            </p>
                    </div>                      
                    <div class="col-md-6" style="margin-top: 75px;">
                        <img src="/images/ipad.png" style="width:467px;height:350px;">                        
                    </div>                                      
                </div>
            </div>
        </div>
        
        <div class="container">
            <div class="row">
                <div class="grey2">           
                    <div class="col-md-5" style="margin-top: 75px;margin-left: 100px">
                        <img src="/images/iphone.png" style="width:390px;height:450px;">                            
                    </div>                    
                    <div class="col-md-5">
                        <h3 style="padding-top: 100px"><b>Personalized Data</b></h3>
                            <p style="padding-top: 10px">Ever wondered which classes students rate as the most challenging?
                                How about the best professor for a given class? Want to see how your GPA progresses? 
                                <br><br>Find out today on Brutus!
                            </p>                                                     
                    </div>
                    <div class="col-md-2"></div>                      
                </div>
            </div>
        </div>
        
        <div class="container" style="padding-top: 1125px">
            <div class="row">
                <div class="white2">
                    <div class="col-md-2"></div>                                 
                    <div class="col-md-4">
                        <h3 style="padding-top: 50px"><b>Go Mobile!</b></h3><br>
                            <p style="padding-top: 10px"><font size="3">Don't have access to a computer? <br><br>No problem! 
                            <br><br>Brutus can be accessed with smartphones and tablets.
                            </p>
                    </div>                      
                    <div class="col-md-6" style="padding-top: 50px">
                        <img src="/images/mobile.png" style="width:467px;height:350px;">
                    </div>           
                </div>
            </div>
        </div>            
        
        
    </body>
</html>











