<!DOCTYPE html>
<html>
    <head>
        <% include ../shared/_header %>
        <link rel="stylesheet" href="/stylesheets/typeahead.css"/>
        <link rel="stylesheet" href="/stylesheets/select2.css"/>
        <link rel="stylesheet" href="/stylesheets/index-new.css"/>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
        <script type="text/javascript" src="/javascripts/typeahead.bundle.js"></script>    
    </head>
    <body style="width: 100%; background: #fff">
        <!-- navbar -->
        <% include ../shared/_navbar %>
        
        <div class="container-fluid">
            <!--Top purple row 'Et tu Brute?'--> 
            <div class="row top">
                <div style="margin-top: 225px">
                    <h1 class="text-center gold-text">Et Tu Brute?</h1>
                    <h2 class="text-center gold-text lato animate slideInDown">Northwestern University Course Scheduling Made Easy.</h2>
                    <p class="text-center">
                    <br>
                    <a href="/register" class="btn btn-gold btn-lg btn-huge">Sign Up Now</a>
                    </p>
                </div>
            </div>
            <!--Second row, white, three columns-->
            <div class="row middle">
                <div class="col-sm-1; col-lg-2"></div>
                <div class="col-md-10; col-lg-8 tri-padding">
                    <div class="col-xs-12 col-sm-4" style="min-height: 200px; text-align: center">
                        <h3><b>Smart Search</b></h3>
                        <p style="padding-top: 10px">Accurately search through tens of thousands of classes in a matter of seconds.</p>
                        <img src="/images/list.png" style="width:40px;height:40px; position: absolute; bottom: 0; margin-left: -20px">                       
                    </div>
                    <div class=" col-xs-12 col-sm-4" style="min-height: 200px; text-align: center">
                        <h3><b>Easy Planning</b></h3>
                        <p style="padding-top: 10px">Don't waste hours of time planning next quarter's class schedule.</p>
                        <img src="/images/watch.png" style="width:40px;height:40px; position: absolute; bottom: 0; margin-left: -20px">  
                    </div>
                    <div class=" col-xs-12 col-sm-4" style="min-height: 200px; text-align: center">
                        <h3><b>In-Depth Reviews</b></h3>
                        <p style="padding-top: 10px">Find out about class information, difficulty, professor's rating and other students' reviews, all in one place.</p>
                        <img src="/images/detail.png" style="width:40px;height:40px; position: absolute; bottom: 0; margin-left: -20px">  
                    </div>
                </div>
                <div class="col-md-1; col-lg-2"></div>                    
            </div>
            <!--3rd row-->
            <div class="row grey">   
                <div class="col-md-1; col-lg-2"></div>           
                <div class="col-xs-12 col-md-4 col-lg-4" style="padding-top: 50px; padding-bottom: 25px; text-align: center">
                    <img src="/images/imac1.png" class="image">                          
                </div>
                <div class="hidden-xs hidden-sm hidden-md col-lg-4 textDiv" style="padding-top: 40px">
                    <h3><b>Tired of CAESAR?</b></h3>
                        <p style="padding-top: 10px">We all know how frustrating CAESAR's slow and unfriendly search process is.
                            Brutus lets you search through every single Northwestern University course in a fraction of the time.
                        </p>
                        <p style="padding-top: 10px" class="text"><font size= "2"> *Brutus search has all courses offered since 2010.</p>
                        <p style="padding-top: 10px" class="text"><font size= "2"> *Brutus uses NU API to update the course list everyday to provide most up to a date information.</p>                         
                </div>                    
                <div class="col-xs-12 col-md-6 hidden-lg textDiv">
                    <h3><b>Tired of CAESAR?</b></h3>
                        <p style="padding-top: 10px">We all know how frustrating CAESAR's slow and unfriendly search process is.
                            Brutus lets you search through every single Northwestern University course in a fraction of the time.
                        </p>
                        <p style="padding-top: 10px" class="text"><font size= "2"> *Brutus search has all courses offered since 2010.</p>
                        <p style="padding-top: 10px" class="text"><font size= "2"> *Brutus uses NU API to update the course list everyday to provide most up to a date information.</p>                         
                </div>
                <div class="col-md-1; col-lg-2"></div>                      
            </div>
            <!--4th row-->
            <div class="row white">
                <div class="col-md-2 col-lg-2"></div>
                <div class="col-xs-12 col-sm-12 hidden-lg hidden-md" style="padding-top: 40px; padding-bottom: 0px; text-align: center">
                    <img src="/images/ipad1.png" class="image">                        
                </div>
                <div class="hidden-xs hidden-sm hidden-md col-lg-5 textDiv" style="padding-top: 40px">
                    <h3><b>Plan your classes in minutes,<br> not hours</b></h3>
                    <p style="padding-top: 10px" class="text">Worrying about degree requirements is stressful enough as it is. 
                        Nobody should be forced to spend hours and hours sifting through CTECS just to determine which professor to take a class with.
                        <br><br>With Brutus, you can find out all the necessary information about a class all
                        on one easy-to-read page.
                    </p>
                </div>                                    
                <div class="col-xs-12 col-sm-12 col-md-5 hidden-lg textDiv">
                    <h3><b>Plan your classes in minutes,<br> not hours</b></h3>
                    <p style="padding-top: 10px" class="text">Worrying about degree requirements is stressful enough as it is. 
                        Nobody should be forced to spend hours and hours sifting through CTECS just to determine which professor to take a class with.
                        <br><br>With Brutus, you can find out all the necessary information about a class all
                        on one easy-to-read page.
                    </p>
                </div>                      
                <div class="hidden-xs hidden-sm col-md-3 col-lg-3 " style=" padding-top: 50px; padding-bottom: 0px; text-align: center">
                    <img src="/images/ipad1.png" class="image">                        
                </div>
                <div class="col-md-2 col-lg-2"></div>
            </div>
            <!--5th Row-->
            <div class="row grey2">
                <div class="col-md-1 col-lg-2"></div>           
                <div class="col-xs-12 col-md-5 col-lg-3" style="padding-top: 50px; padding-bottom: 0px; text-align: center">
                    <img src="/images/iphone1.png" class="image">                            
                </div>       
                <div class="hidden-xs hidden-sm hidden-md col-lg-4 textDiv" style="padding: 60px">
                    <h3><b>Personalized Data</b></h3>
                    <p class="text" style="padding-top: 10px">Ever wondered which classes students rate as the most challenging?
                        How about the best professor for a given class? Want to see how your GPA progresses? 
                        <br><br>Find out today on Brutus!
                    </p>                                                     
                </div>             
                <div class="col-xs-12 col-md-5 hidden-lg textDiv" style="padding: 40px">
                    <h3><b>Personalized Data</b></h3>
                    <p class="text" style="padding-top: 10px">Ever wondered which classes students rate as the most challenging?
                        How about the best professor for a given class? Want to see how your GPA progresses? 
                        <br><br>Find out today on Brutus!
                    </p>                                                     
                </div>
                <div class="col-md-1 col-lg-3"></div>                      
            </div>
            <!--Last Row-->
            <div class="row white2">
                <div class="col-xs-12 col-sm-12 hidden-md hidden-lg" style="padding-top: 40px; padding-bottom: 0px; text-align: center">
                    <img src="/images/mobile.png" class="image">
                </div>
                <div class="col-md-1 col-lg-3"></div>                                 
                    <div class="col-xs-12 col-md-5 col-lg-3 textDiv" style="padding: 30px">
                        <h3><b>Go Mobile!</b></h3>
                            <p style="padding-top: 10px" class="text">Don't have access to a computer? <br>No problem! 
                            <br>Brutus can be accessed with smartphones and tablets.
                            </p>
                    </div>                      
                <div class="col-md-5 col-lg-4 hidden-sm hidden-xs" style="padding-top: 50px; padding-bottom: 0px; text-align: center">
                    <img src="/images/mobile.png" class="image">
                </div>
                <div class="col-md-1 col-lg-2"></div>          
            </div>
        </div>
    </body>
</html>











