<!DOCTYPE html>
<html>
    <head>
        <% include ../shared/_header.ejs %>
        <link rel="stylesheet" href="/stylesheets/typeahead.css"/>
        <link rel="stylesheet" href="/stylesheets/select2.css"/>
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
        <script type="text/javascript" src="/javascripts/typeahead.bundle.js"></script> 
        
        <link href='/stylesheets/fullcalendar.css' rel='stylesheet' />
        <link href='/stylesheets/fullcalendar.print.css' rel='stylesheet' media='print' />
        <link href='/stylesheets/search-calendar.css' rel = 'stylesheet' />
        <script src='/javascripts/moment.min.js'></script>
        <script src='/javascripts/fullcalendar.min.js'></script>        
        <script type="text/javascript" src="/javascripts/date.js"></script>
        
                       
         
        <script>
            index = 0;            
            loaded = false;
            
            //Creates a delay of n milliseconds
            var delay = (function(){
                    var timer = 0;
                    return function(callback, ms){
                        clearTimeout (timer);
                        timer = setTimeout(callback, ms);
                    };
                })();
            
            //AJAX post request to database, returns list of all courses
            function getCourses(){                
                
                    var search = document.getElementById('search').value;
                    var subject = document.getElementById('subject').value;
                    var term = document.getElementById('term').value;
                    var sortBy = document.getElementById('sortBy').value;
                    if(document.getElementById('arrow-up').style.display == 'none'){
                        var order = -1;
                    }
                    else{
                        var order = 1;
                    }
                    $.ajax( {
                        url: '/search',
                        type: 'POST',
                        data: {"index" : index, "search" : search, "subject" : subject, "term" : term, "order": order, "sortBy": sortBy},
                        success: function(items) {
                            console.log("success in courses");
                            console.log("flag:" + items.flag);
                            courseArray = items.courses;                                              
                            if(items.flag != "end")
                            {
                                createListings(courseArray);
                            }                            
                        }
                    });                    
                        
            }
            
            //AJAX post request to database, returns list of all terms
            function getTerms(){
                index = 0;
                $.ajax( {
                    url: '/search',
                    type: 'POST',
                    data: {"findTerms" : true},
                    success: function(items) {
                        console.log("success in terms");
                        termsArray = items;
                        createTerms(termsArray);

                    }
                });
            }
            
            //AJAX post request to database, returns list of all subjects
            function getSubjects(){
                index = 0;
                var term = document.getElementById('term').value;
                $.ajax( {
                    url: '/search',
                    type: 'POST',
                    data: {"findSubjects" : true, term: term},
                    success: function(items) {
                        console.log("success in subjects");
                        subjectsArray = items;
                        createSubjects(subjectsArray);
                        getCourses();
                    }
                });
            }
                      
            //Links course listings to their profile pages
            function goToCourse(id){
                var link = "/course?course=" + id;
                console.log(link);
                window.location = link;
            }

			$(document).ready(function(){
                console.log("calling get terms");
                getTerms();

                //Calls function while user types in the search input              
                $('#search').keyup(function() {
                    delay(function(){
                        index = 0;
                        //matches = search(courseArray, document.getElementById('search').value);
                        getCourses();                        
                    }, 250 );
                });
                //Calls search function when filter dropdown values are changed
                $("#term").change(function() {
                    $('#subject').val($('#subject').find('option:first').val());
                    $('#subject').find('option:first').prop('selected', true);
                    $('#subject').change();
                    getSubjects();
                });
                $("#subject").change(function() {
                    index = 0;
                    getCourses();
                });
			});
            
            
            $(window).scroll(function(){
                if($(window).scrollTop() + $(window).height() > $(document).height() - 1000){
                    if(loaded == false)
                    {
                        index += 10;
                        getCourses();  
                        loaded = true;
                    }
                    delay(function(){
                        loaded = false;                          
                    }, 1000 );                                                                      
                }
            });     
            
		</script>
  </head>
  <body class="search-body">
        
        <!-- navbar -->
        <% include ../shared/_navbar %>
        
        <!--Body-->
        <div class="container-fluid" style="padding-top: 100px">            
            <div class="row">
                <div class="col-xs-12 col-md-8">
                    <div class="col-md-1"></div>
                    <div class="col-xs-12 col-md-11" style="padding-right: 0px; padding-left: 0px">
                        <div class="row">
                            <div class="col-md-6 col-xs-12" style="margin-top: 4px; padding-left: 0px; padding-right: 15px;" id="search-box">
                                <div style="padding-right: 15px">
                                    <input class="typeahead tt-hint form-control" id="search" type="search" type="text" placeholder="Course">
                                    <button class="btn search-btn" type="button">
                                        <span style="font-size: 1.3em" class="glyphicon glyphicon-search"></span>
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-12" style="margin-top: 4px;">
                                <select id="subject" class="subject-select">
                                    <option value="ALL">All Subjects</option>
                                </select>  
                            </div>
                            <div class="col-md-3 col-xs-12" style="margin-top: 4px;">
                                <select id="term" class="term-select">
                                </select>  
                            </div>    
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-9"></div>
                            <div class="col-md-3 col-xs-12" style="margin-top: 4px;">
                                <div class="row">
                                    <div class="col-xs-2 option-heading" style="cursor: pointer; text-align: right">
                                        <div class="row">
                                            <div class="arrow-up" id='arrow-up'>&#9650;</div>
                                        </div>
                                        <div class="row" style="margin-top: 15px">
                                            <div class="arrow-down" id='arrow-down'>&#9660;</div>
                                        </div>
                                    </div>
                                    <div class="col-xs-10">
                                        <select class="term-select" id='sortBy'>
                                            <option value="default">Sort By ...</option>
                                            <option value="rating">Professor Rating</option>
                                            <option value="difficulty">Class Difficulty</option>                        
                                            <option value="avghours">Time Commitment</option>
                                        </select>  
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top:60px">
                            <div class="col-md-12 col-xs-12">
                                <script>
                                    
                                    //AJAX post request to database, returns list of all courses
                                    function addOrRemoveCourse(course_id) {
                                        
                                        var e = window.event;
                                        
                                        e.cancelBubble = true;
                                        if (e.stopPropagation) e.stopPropagation();
                                        
                                        console.log($('#btn_id' + course_id).text());
                                        
                                        var query = "add-searchpage"
                                        if (document.getElementById('btn_' + course_id).innerHTML == "Remove Class") {
                                            query = "remove-searchpage";
                                        }
                                        console.log(query);
                                        $.ajax( {
                                            url: '/course',
                                            type: 'POST',
                                            data: {"query": query, "course_id" : course_id},
                                            success: function(response) {
                                                if(response == 'success'){
                                                    //On success of adding class to db, change class button
                                                    console.log('POST success class added');
                                                    document.getElementById('btn_' + course_id).classList.remove('btn-success');
                                                    document.getElementById('btn_' + course_id).classList.add('btn-danger');
                                                    document.getElementById('btn_' + course_id).innerHTML = "Remove Class";
                                                    
                                                    addCourseToCalendar(course_id);
                                                    console.log("finished adding course to calendar");
                                                }
                                                if (response == 'success-remove') {
                                                    console.log('POST success class removed');
                                                    document.getElementById('btn_' + course_id).classList.add('btn-success');
                                                    document.getElementById('btn_' + course_id).classList.remove('btn-danger');
                                                    document.getElementById('btn_' + course_id).innerHTML = "Add Class";
                                                    
                                                    removeCourseFromCalendar(course_id);
                                                }
                                            }
                                        });
                                        
                                        event.stopPropagation();
                                    }
                                    
                                    function addCourseToCalendar(course_id) {
                                        $.ajax( {
                                            url: '/course',
                                            type: 'POST',
                                            data: {'query': 'getOne', 'id': course_id},
                                            success: function (response) {
                                                
                                                
                                                if (response.meeting_days) {

                                                    var timesStr = response.meeting_days.toLowerCase();

                                                    if (timesStr.indexOf('null') == -1 && timesStr)
                                                    {
                                                        console.log("in if");   
                                                        var start = response.start_time;
                                                        var end = response.end_time;
                                                        
                                                        var days = [0, 0, 0, 0, 0, 0, 0];
                                                        
                                                        if (timesStr.indexOf("su") > -1)
                                                            days[0] = 1;
                                                        if (timesStr.indexOf("mo") > -1)
                                                            days[1] = 1;
                                                        if (timesStr.indexOf("tu") > -1)
                                                            days[2] = 1;
                                                        if (timesStr.indexOf("we") > -1)
                                                            days[3] = 1;
                                                        if (timesStr.indexOf("th") > -1)
                                                            days[4] = 1;
                                                        if (timesStr.indexOf("fr") > -1)
                                                            days[5] = 1;
                                                        if (timesStr.indexOf("sa") > -1)
                                                            days[6] = 1;
                                                        
                                                        console.log(days);
                                                        console.log(start);
                                                        console.log(end);
                                                        console.log(response);
                                                        var sunday = Date.today().add( - (new Date()).getDay()).days();
                                                        var events = [];
                                                        for (var j = 0; j < 7; j++) {
                                                            if (days[j] == 1) {
                                                                var date = new Date(sunday).add(j).days();                                    
                                                                var datestr = date.toISOString().substr(0, 11);
                                                                events.push({
                                                                    _id: response._id,
                                                                    url: '/course?course' + response._id,
                                                                    title: response.subject + " " + response.catalog_num,
                                                                    start: datestr + start,
                                                                    end: datestr + end 
                                                                });
                                                            }
                                                        }
                                                        console.log("starting for loop k");
                                                        console.log(events);
                                                        for (var k = 0; k < events.length; k++) {
                                                            console.log(events.length);
                                                            console.log(events[k]);
                                                            $('#calendar').fullCalendar('renderEvent', events[k], stick=true);
                                                        }
                                                    }
                                                }
                                            }
                                        });
                                    }
                                    
                                    function removeCourseFromCalendar(course_id) {
                                        console.log(course_id);
                                        $('#calendar').fullCalendar('removeEvents', course_id);    
                                    }
                                    
                                    
                                    function createListings(matches) {
                                        var html = "";
                                        for(var i = 0; i < matches.length; i++){
                                            
                                            var building_name = "";
                                            var room_name = "";
                                            var ratingStr = "NA";
                                            if(matches[i].rating != ""){
                                                ratingStr = matches[i].rating + "/5.0";
                                            }
                                            if (matches[i].room)
                                            {
                                                building_name = matches[i].room.building_name;
                                                room_name = matches[i].room.name;
                                            }
                                            classTime= matches[i].meeting_days + " " + matches[i].start_time + " to " + matches[i].end_time;
                                            if(matches[i].meeting_days == null)
                                            {
                                                classTime = "TBA"
                                            }
                                            
                                            // check if user is already taking course
                                            var btnStyle = 'btn-success';
                                            var btnText = 'Add Class';
                                            var current_courses = [ <%= [ user.current_courses ] %> ];
                                            for (var k = 0; k < current_courses.length; k++)
                                            {
                                                if (current_courses[k] == matches[i]._id)
                                                {
                                                    btnStyle = 'btn-danger';
                                                    btnText = 'Remove Class'    
                                                }
                                            }
                                            
                                            html = html + "<div id='" + matches[i]._id + "' class='panel panel-default listing' " + "onclick=goToCourse(" + matches[i]._id + ")" + " style='margin: 0; color: #fff'> \
                                                                <div class='panel-body search-panel-body'> \
                                                                    <div style='display: inline-block; width: 100%'> \
                                                                        <a href='#' style='color: #FFD700'><span>"  + matches[i].subject + " " + matches[i].catalog_num + ": " + matches[i].title + "</span></a> \
                                                                        <label style='float: right; color: #fff'> " + matches[i].term + "</label> \
                                                                    </div> \
                                                                    <label style='color: #fff'>Instructor: </label><a href='#' style='color: #FFD700'> " + matches[i].instructor.name + "</a><br> \
                                                                    <label style='color: #fff'>Class Times: </label><span> " + classTime + "</span><br> \
                                                                    <label style='color: #fff'>Room: </label> " + building_name + " " + room_name + "<br> \
                                                                    <div style='display: inline-block; width: 100%'> \
                                                                        <div style='float: left;'> \
                                                                            <label style='color: #fff'>Seats: </label> " + matches[i].seats + "<br> \
                                                                            <label style='color: #fff'>Rating: </label> " + ratingStr + "<br> \
                                                                        </div> \
                                                                        <button id='btn_" + matches[i]._id + "' class='btn " + btnStyle + " btn-md' onclick='addOrRemoveCourse(" + matches[i]._id +")' style='float: right;'>" + btnText + "</button> \
                                                                        <span id='title' hidden='true'>" + matches[i].subject + " " + matches[i].catalog_num + "</span> \
                                                                        <span id='times' hidden='true'>" + matches[i].meeting_days + " " + matches[i].start_time + " " + matches[i].end_time + "</span> \
                                                                    </div> \
                                                                </div> \
                                                            </div>";
            
                                            
                                        }
                                        
                                        if(index == 0)
                                        {
                                            document.getElementById('listings').innerHTML = html;
                                        }
                                        else
                                        {
                                            document.getElementById('listings').innerHTML += html;
                                        }                                        
                                        
                                        // calendar hover feature
                                        var hoveredCourseEvents = [];
                                        $('.search-panel-body').hover(function () {
                                            
                                            var timesStr = $(this).find('#times').text().trim();
                                            var title = $(this).find('#title').text();
                                            if (timesStr.indexOf('null') == -1 && timesStr)
                                            {
                                                var timesArr = timesStr.split(" ");
                                                var daysStr = timesArr[0].trim().toLowerCase();
                                                var start = timesArr[1].trim();
                                                var end = timesArr[2].trim();
                                                
                                                var days = [0, 0, 0, 0, 0, 0, 0];
                                                
                                                if (daysStr.indexOf("su") > -1)
                                                    days[0] = 1;
                                                if (daysStr.indexOf("mo") > -1)
                                                    days[1] = 1;
                                                if (daysStr.indexOf("tu") > -1)
                                                    days[2] = 1;
                                                if (daysStr.indexOf("we") > -1)
                                                    days[3] = 1;
                                                if (daysStr.indexOf("th") > -1)
                                                    days[4] = 1;
                                                if (daysStr.indexOf("fr") > -1)
                                                    days[5] = 1;
                                                if (daysStr.indexOf("sa") > -1)
                                                    days[6] = 1;
                                                
                                                
                                                    
                                                addHoverCourse(days, title, start, end);
                                                
                                            }
                                            
                                                
                                        },
                                        function () {
                                            removeHoverCourse(null);
                                        });
                                        
                                        
                                        function addHoverCourse(daysArr, title, start, end) {
                                            var sunday = Date.today().add( - (new Date()).getDay()).days();
                                            
                                            for (var j = 0; j < 7; j++) {
                                                if (daysArr[j] == 1) {
                                                    var date = new Date(sunday).add(j).days();                                    
                                                    var datestr = date.toISOString().substr(0, 11);
                                                    hoveredCourseEvents.push({
                                                        title: title,
                                                        start: datestr + start,
                                                        end: datestr + end 
                                                    });
                                                }
                                            }
                
                                            for (var k = 0; k < hoveredCourseEvents.length; k++) {
                                                $('#calendar').fullCalendar('renderEvent', hoveredCourseEvents[k], stick=false);
                                            }
                                            
                                        }
                                        
                                        function removeHoverCourse(courseEvents) {
                                            $('#calendar').fullCalendar('refetchEvents');
                                            hoveredCourseEvents = [];
                                        }
                                        
                                        // scroll calendar based on scroll position
                                        $(window).scroll(function() {
                                            var fromTop = $(window).scrollTop();
                                            $('#calendar').css('margin-top', '+' + (fromTop) + 'px');
                                        });
                                        
                                        
                                    }
                                </script>
                                <div id="listings" style="width: 100%"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="hidden-sm hidden-xs col-md-12">
                        <div id="calendar">
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</body>
    
    <script type="text/javascript">
		$(document).ready(function() {
            // add the select complete component
            $(".subject-select").select2();
            $(".term-select").select2(); 
        });      
        
        //Sort arrows toggle
        $(document).ready(function() {
            $(".arrow-down").hide();
            $(".option-heading").click(function(){
                    $(this).next(".option-content").slideToggle(500);
                    $(this).find(".arrow-up, .arrow-down").toggle();
                    index = 0;
                    getCourses();
            });
            $('#calendar').fullCalendar({
                    theme: true,
                    defaultView: 'agendaWeek',
                    height: "auto",
                    header: false,
                    allDaySlot: false,
                    minTime: "07:00:00",
                    maxTime: "22:00:00",
                    selectable: true,
                    editable: false,
                    eventLmit: true,
                    //eventBackgroundColor: "#B8860B",
                    eventBackgroundColor: "#634b89",
                    eventTextColor: "#fff",
                    timeFormat: 'h(:mm)t',
                    columnFormat: 'ddd',
                    events: []
                })
        });
        
        // scroll calendar at beginning
        var fromTop = $(window).scrollTop();
        $('#calendar').css('margin-top', '+' + (fromTop) + 'px');
        
        getCurrentCourses();
        
        // AJAX post request to database, returns list of all courses
        function getCurrentCourses() {
            $.ajax( {
                url: '/dashboard',
                type: 'POST',
                data: {getCurrentEvents: true},
                success: function(courses) {
                    
                    for (var i = 0; i < courses.length; i++) {
                        
                        var meetingDays = [0, 0, 0, 0, 0, 0, 0];
                        if (courses[i].meeting_days == undefined || courses[i].start_time == undefined || courses[i].end_time == undefined)
                            continue;
                            
                        var meetingDaysStr = courses[i].meeting_days.toLowerCase();
                        if (meetingDaysStr.indexOf("su") > -1)
                            meetingDays[0] = 1;
                        if (meetingDaysStr.indexOf("mo") > -1)
                            meetingDays[1] = 1;
                        if (meetingDaysStr.indexOf("tu") > -1)
                            meetingDays[2] = 1;
                        if (meetingDaysStr.indexOf("we") > -1)
                            meetingDays[3] = 1;
                        if (meetingDaysStr.indexOf("th") > -1)
                            meetingDays[4] = 1;
                        if (meetingDaysStr.indexOf("fr") > -1)
                            meetingDays[5] = 1;
                        if (meetingDaysStr.indexOf("sa") > -1)
                            meetingDays[6] = 1;
                        

                        
                        var sunday = Date.today().add( - (new Date()).getDay()).days();
                        
                        var events = [];
                        for (var j = 0; j < 7; j++) {
                            if (meetingDays[j] == 1) {
                                var date = new Date(sunday).add(j).days();                                    
                                var datestr = date.toISOString().substr(0, 11);
                                events.push({
                                    _id: courses[i]._id,
                                    url: "/course?course=" + courses[i]._id,
                                    title: courses[i].subject + " " + courses[i].catalog_num,
                                    start: datestr + courses[i].start_time,
                                    end: datestr + courses[i].end_time 
                                });
                            }
                        }

                        for (var k = 0; k < events.length; k++) {
                            $('#calendar').fullCalendar('renderEvent', events[k], stick=true);
                            $('#calendar').fullCalendar( 'rerenderEvents' );    
                        }         
                    }
                    
                    $('tr').css('height', Math.floor($(window).height() / 38) + 'px');
                    
                    $(window).resize(function() {
                        console.log("resize");
                        console.log($(window).height());
                        console.log(Math.floor($(window).height() / 38));
                        $('tr').css('height', Math.floor($(window).height() / 38) + 'px');
                    });
                
                }                
            });
        }
        
        function createTerms(termsArray) {
            
            var html;       // to be placed in the select listing
            
            for (var i = 0; i < termsArray.length; i++) {
                if (i == 0) {
                    html = html + "<option selected='selected' value='" + termsArray[i].name + "'>" + termsArray[i].name + "</option>";
                }
                else {
                    html = html + "<option value='" + termsArray[i].name + "'>" + termsArray[i].name + "</option>";
                }
                
            }
            
            document.getElementById('term').innerHTML += html;
            $('#term').val($('#term').find('option:first').val());
            $('#term').find('option:first').prop('selected', true);
            $('#term').change();
        }
        
        function createSubjects(subjectsArray) {
            var html;       // to be placed in the select listing
            for (var i = 0; i < subjectsArray.length; i++)
            {
                    html = html + "<option value='" + subjectsArray[i].symbol + "'>" + subjectsArray[i].symbol + " - " + subjectsArray[i].name + "</option>";
            }

            document.getElementById('subject').innerHTML += html;

        }
        
	</script>
</html>
