<!DOCTYPE html>
<html>
    <head>
        <% include ../shared/_header.ejs %>
        <link rel="stylesheet" href="/stylesheets/typeahead.css"/>
        <link rel="stylesheet" href="/stylesheets/select2.css"/>
        <link rel="stylesheet" href="/stylesheets/index.css"/>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
        <script type="text/javascript" src="/javascripts/typeahead.bundle.js"></script>  
        <script>
            //Creates a delay of n milliseconds
            var delay = (function(){
                    var timer = 0;
                    return function(callback, ms){
                        clearTimeout (timer);
                        timer = setTimeout(callback, ms);
                    };
                })();
            
            var courseArray;
            var matches;
            //AJAX post request to database, returns list of all courses
            function getCourses(){
                var search = document.getElementById('search').value;
                var subject = document.getElementById('subject').value;
                var term = document.getElementById('term').value;
                $.ajax( {
                    url: '/search',
                    type: 'POST',
                    data: {"search" : search, "subject" : subject, "term" : term},
                    success: function(items) {
                        courseArray = items;
                        createListings(courseArray);
                    }
                });
            }
            
            //Links course listings to their profile pages
            function goToCourse(id){
                var link = "/course?course=" + id;
                console.log(link);
                window.location = link;
            }

			$(document).ready(function(){
                getCourses();
                //Calls function while user types in the search input              
                $('#search').keyup(function() {
                    delay(function(){
                        //matches = search(courseArray, document.getElementById('search').value);
                        getCourses();
                        matches = courseArray;
                        createListings(matches);
                    }, 500 );
                });
                //Calls search function when filter dropdown values are changed
                $("select").change(function() {
                    getCourses();
                    matches = courseArray;
                    createListings(matches);
                });
			});
            
            
		</script>
  </head>
  <body class="search-body">
        
        <!-- navbar -->
        <% include ../shared/_navbar %>
        
        <!--Body-->
        <div class="container-fluid" style="padding-top: 100px">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-4 col-xs-12" style="margin-top: 4px; padding-left: 0px; padding-right: 15px;" id="search-box">
                    <div style="padding-right: 15px">
                        <input class="typeahead tt-hint form-control" id="search" type="search" type="text" placeholder="Course">
                        <button class="btn search-btn" type="button">
                            <span style="font-size: 1.3em" class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                </div>
                <div class="col-md-2 col-xs-12" style="margin-top: 4px;">
                    <select id="subject" class="subject-select">
                        <option value="ALL">All Subjects</option>
                        <option value="ACCOUNTING">ACCOUNT - Accounting</option>
                        <option value="EARTH">EARTH - Earth and Planetary Sciences</option>
                        <option value="ECON">ECON - Economics</option>
                        <option value="EECS">EECS - Electrical Engineering and Computer Science</option>
                        <option value="PHYSICS">PHYSICS - Physics</option>
                    </select>  
                </div>
                <div class="col-md-2 col-xs-12" style="margin-top: 4px;">
                    <select id="term" class="term-select">
                        <option value="2015 Fall">Fall 2015</option>
                        <option value="Winter 2016">Winter 2016</option>
                        <option value="Spring 2016">Spring 2016</option>
                        <option value="Fall 2016">Fall 2016</option>
                    </select>  
                </div>
                <div class="col-md-2"></div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-8"></div>
                <div class="col-md-2 col-xs-12" style="margin-top: 4px;">
                    <select class="term-select">
                        <option value="default">Sort By ...</option>
                        <option value="name">Name</option>
                        <option value="schedule">Class Time</option>
                        <option value="rating">Professor Rating</option>
                        <option value="difficulty">Class Difficulty</option>                        
                        <option value="time">Time Commitment</option>
                    </select>  
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row" style="padding-top:60px">
                <div class="col-md-2"></div>
                <div class="col-md-8 col-xs-12">
                    <script>
                        function createListings(matches){
                            var html = "";
                            for(var i = 0; i < matches.length; i++){
                                console.log(matches[i].title + " " + matches[i].course_id);
                                
                                
                                
                                var building_name = "";
                                var room_name = "";
                                if (matches[i].room)
                                {
                                    building_name = matches[i].room.building_name;
                                    room_name = matches[i].room.name;
                                }
                                html = html + "<div id='" + matches[i]._id + "' class='panel panel-default listing' " + "onclick=goToCourse(" + matches[i]._id + ")" + " style='margin: 0; color: #fff'> \
                                                    <div class='panel-body search-panel-body'> \
                                                        <div style='display: inline-block; width: 100%'> \
                                                            <a href='#' style='color: #FFD700'>" + matches[i].subject + " " + matches[i].catalog_num + ": " + matches[i].title + "</a> \
                                                            <label style='float: right; color: #fff'> " + matches[i].term + "</label> \
                                                        </div> \
                                                        <label style='color: #fff'>Instructor: </label><a href='#' style='color: #FFD700'> " + matches[i].instructor.name + "</a><br> \
                                                        <label style='color: #fff'>Class Times: </label> " + matches[i].meeting_days + " " + matches[i].start_time + " to " + matches[i].end_time + "<br> \
                                                        <label style='color: #fff'>Room: </label> " + building_name + " " + room_name + "<br> \
                                                        <label style='color: #fff'>Seats: </label> " + matches[i].seats + "<br> \
                                                        <label style='color: #fff'>Rating: </label> 3.5/5.0 <br> \
                                                    </div> \
                                                </div> \
                                                ";
                            }
                            document.getElementById('listings').innerHTML = html;
                        }
                    </script>
                    <div id="listings" style="width: 100%"></div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>	
	</body>
    
    <script type="text/javascript">
		$(document).ready(function() {
            $(".subject-select").select2();
            $(".term-select").select2(); 
            
            $(".btn").click(function() {
                alert("button clicked");
            });
        });       
        
        var substringMatcher = function(strs) {
            return function findMatches(q, cb) {
                var matches, substringRegex;

                var selectedText = $( "#subject-select option:selected" ).text();
                if (selectedText.indexOf('econ') > -1)
                {
                    strs = ['ECON 201', 'ECON 202'];
                }

                // an array that will be populated with substring matches
                matches = [];
            
                // regex used to determine if a string contains the substring `q`
                substrRegex = new RegExp(q, 'i');
            
                // iterate through the pool of strings and for any string that
                // contains the substring `q`, add it to the `matches` array
                $.each(strs, function(i, str) {
                    if (substrRegex.test(str)) {
                        matches.push(str);
                    }
                });
            
                cb(matches);
            };
        };

        var courses = ['ECON 201', 'EECS 203', 'EECS 349', 'EECS 361', 'PHYSICS 135-2',
            'CHEM 101-1', 'ECON 202'
        ];
        
        /*
        
        $('#search-box .typeahead').typeahead({
            hint: true,
            highlight: true,
            minLength: 1
        },
        {
            name: 'Courses',
            source: substringMatcher(courses)
        });
        
        */
	</script>
</html>
