<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a [routerLink]="['/']"><img class="navbar-brand brutus-logo" src="/assets/images/logo.gif"></a>
            <a class="navbar-brand brutus-brand" [routerLink]="['/']">Brutus</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a [routerLink]="['/search']">Search</a>
                </li>
                <li>
                    <a *ngIf="auth.authenticated()" [routerLink]="['/dashboard']">Dashboard</a>
                </li>
                <li>
                    <a *ngIf="auth.authenticated()" [routerLink]="['/reviews']">Submit Reviews</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a *ngIf="!auth.authenticated()" [routerLink]="['/login']">Login</a>
                <a *ngIf="auth.authenticated()" href="#" onclick="return false" (click)="auth.logout()">Log Out</a>
              </li>
            </ul>
        </div>

    </div>
</nav>
