<!DOCTYPE html>
<html>
	<head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/account.css"/>
		<% include ../../shared/_header %>
	</head>
    
    <body>
        <% include ../../shared/_navbar %>
        
        <div class="container" style="padding-top: 80px">
            
            <div class="col-md-2 col-lg-2"></div>
            <div class="col-md-8">
                
                <div class="page-header">
                    <h2>Change Password</h2>
                </div>
                <% if (updated) { %>
                    <div class="alert alert-success" role="alert">Password Updated!.</div>
                <% } %>
                <% if (wrongPass) { %>
                    <div class="alert alert-danger" role="alert">Password Change Failed! Incorrect current password</div>
                <% } %>
                <% if (wrongConfirm) { %>
                    <div class="alert alert-danger" role="alert">Password Change failed! Passwords do not match</div>
                <% } %>  
                <% if (missing) { %>
                    <div class="alert alert-danger" role="alert">Password Change failed! Please enter a new password</div>
                <% } %>
                <form action ="account" autofocus="autofocus" autocomplete = "on" method = "post">
                    <div class="row account-row">
                        <div class="col-xs-12 col-md-6 col-lg-6">
                            <label class="account-lbl" >Current Password:</label>
                        </div>
                        <div class="col-xs-12 col-md-6 col-lg-6">
                            <input type="password" class="form-control" name="old">
                        </div>
                    </div>
                    <div class="row account-row">
                        <div class="col-xs-12 col-md-6 col-lg-6">
                            <label class="account-lbl" >New Password:</label>
                        </div>
                        <div class="col-xs-12 col-md-6 col-lg-6">
                            <input type="password" class="form-control" name="new">
                        </div>
                    </div>
                    <div class="row account-row">
                        <div class="col-xs-12 col-md-6 col-lg-6">
                            <label class="account-lbl" >Confirm Password:</label>
                        </div>
                        <div class="col-xs-12 col-md-6 col-lg-6">
                            <input type="password" class="form-control" name="confirm">
                        </div>
                    </div>
                    <div class="row account-row">
                        <div class="col-xs-7 col-md-9 col-lg-9"></div>
                        <div class="col-xs-5 col-md-3 col-lg-3">
                            <input type="submit" class="btn btn-default" style="float: right" name="password" value="Change">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-2 col-lg-2"></div>
        </div>
        
    </body>
</html>