<div class="container">
  <div class="hidden-sm col-md-2"></div>
  <div class="panel panel-default col-sm-12 col-md-8">
    <div class="panel-heading">
      <h3>{{course.subject + ' ' + course.catalog_num + ': ' + course.title}}</h3>
    </div>
    <div class="panel-body" style="padding: 15px">
      <div class="row">
        <div class="col-xs-8" style="line-height: 20px">
          <strong>Course:</strong> {{course.course_id}}<br>
          <strong>Section:</strong> {{course.section}}<br>
          <strong>Insructor:</strong> {{course.instructor ? course.instructor.name : 'NA'}}<br>
          <strong>Term:</strong> {{course.term}}<br>
          <strong>Class Times:</strong> {{course.meeting_days + ' ' + course.start_time + ' to ' + course.end_time}}<br>
          <strong>Room:</strong> {{course.room ? course.room.building_name + ' ' + course.room.name : 'NA'}}<br>
          <strong>Seats:</strong> {{course.seats}}<br><br>
        </div>
        <div class="col-xs-4">
          <br><br>
          <div *ngIf="auth.authenticated()">
            <button *ngIf="!auth.enrolled(course)" class="btn btn-success btn-md" (click)="addCourse()">Add Class</button>
            <button *ngIf="auth.enrolled(course)" class="btn btn-danger btn-md" (click)="removeCourse()">Remove Class</button>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          Course Information
        </div>
        <div class="panel-body">
          <strong>Overview:</strong> {{course.overview}}<br><br>
          <strong>Attributes:</strong> {{course.attributes}}<br><br>
          <strong>Requirements:</strong> {{course.requirements}}<br><br>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          Course Components
        </div>
        <div class="panel-body">
          <div *ngIf="course.course_components">
            None
          </div>
          <div *ngFor="let component of course.course_components; let i = index" [attr.data-index]="i" class="li-component">
            <div class="row">
              <div class="col-xs-8">
                Section: {{component.section}} - {{component.component}}<br>
                Time: {{component.meeting_days}} {{component.start_time}}:{{component.end_time}}<br>
                Location: {{component.room}}<br>
              </div>
              <div class="col-xs-4">
                <br>
                <input type="radio" name="radiogroup" style="float: right"
                  [value]="component.section"
                  (change)="onSelectionChange(i)">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          Comments
        </div>
        <div class="panel-body">
          <div *ngIf="reviews.length === 0">
            No comments yet
          </div>
          <div *ngFor="let review of reviews">
            <div *ngIf="review.comment" style="padding: 5px">
              <span *ngFor="let i of arr(review.rating).fill(1)">&#9734;</span>
              <span class="comment-date">{{review.created_at}}</span><br>
              "{{review.comment}}"
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hidden-sm col-md-2"></div>
</div>
