.fc-event {
    border-color: #fff !important;
    font-size: .75em !important;
    overflow: visible;
}


@media (max-width: 1000px) {
    .fc-event {
        border-color: #fff !important;
        font-size: .6em !important;
    }
}

@media (max-width: 320px) {
    .fc-event {
        border-color: #fff !important;
        font-size: .3em !important;
    }
}

td {
    border-top: 1px solid #fff !important;


}

.fc-event-container {
    margin: 0 !important;
}

.fc-minor td {
    border: 0px !important;
}

.course-list-item {
    border: 1px solid rgba(255, 255, 255, .3) !important;
}
