<!--Navbar-->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!--Navbar header and hamburger menu-->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/"><img class="navbar-brand brutus-logo" src="/images/logo.gif"></a>
            <a class="navbar-brand brutus-brand" href="/">Brutus</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li>
                <a href="/search" class="navbar-heading">Search</a>
                </li>
            <% if (user) { %>
                <li>
                <a href="/dashboard" class="navbar-heading">Dashboard</a>
                </li>
            <% } %>
            <% if (user) { %>
                <li>
                <a href="/reviews" class="navbar-heading">Submit Reviews</a>
                </li>
            <% } %>
            <% if (user) { %>
                <li>
                <a href="/feedback" class="navbar-heading">Feedback</a>
                </li>
            <% } %>
            </ul>
            <% if (user) { %>
                <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle navbar-heading" data-toggle="dropdown" role="button" aria-expanded="false">  <%= user['firstName'] %> <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                    <li><a class="dropdown-heading" href="/account">Account Settings</a></li>
                    <li class="divider"></li>
                    <li><a class="dropdown-heading" href="/logout">Logout</a></li>
                    </ul>
                </li>
                </ul>
            <% } else { %>
                <ul style="margin-left: 20px" class="nav navbar-nav navbar-right">
                <li><a href="/login" class="navbar-heading"> Login </a></li>
                </ul>
            <% } %>
        </div><!-- /.navbar-collapse -->
        
    </div>
</nav>