<!--Navbar-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!--Navbar header and hamburger menu-->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Brutus</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                <a href="/search" class="navbar-heading">Search</a>
                </li>
                <li>
                <a href="/reviews" class="navbar-heading">Reviews</a>
                </li>
            </ul>
            <% if (user) { %>
                <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle navbar-heading" data-toggle="dropdown" role="button" aria-expanded="false">  <%= user['firstName'] %> <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Account Settings</a></li>
                    <li class="divider"></li>
                    <li><a href="/logout">Logout</a></li>
                    </ul>
                </li>
                </ul>
            <% } else { %>
                <ul class="nav navbar-nav navbar-right">
                <li><a href="/login" class="navbar-heading"> Login </a></li>
                </ul>
            <% } %>
            </div><!-- /.navbar-collapse -->
        
    </div>
</nav>