<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
		<% include ../shared/_header %>
        <link rel="stylesheet" href="/stylesheets/typeahead.css"/>
        <link rel="stylesheet" href="/stylesheets/select2.css"/>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
        <script type="text/javascript" src="/javascripts/typeahead.bundle.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <!--Navbar-->
      <nav class="navbar navbar-default">
        <!--Navbar header and hamburger menu-->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
						  <span class="icon-bar"></span>
						  <span class="icon-bar"></span>
						  <span class="icon-bar"></span>
					  </button> 
            <a class="navbar-brand" href="#">Brutus</a>
          </div>
      </nav><br>
      
      <!--Body-->
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">                 
                    <form action="addCourse" method="post" name="addCourseForm">
                        <h2>Add Course Information</h2>
                        <label>Course Tile</label>
                        <input type="text" class="form-control" name="title">
                        <label>Term</label>
                        <input type="text" class="form-control" name="term">
                        <label>Instructor</label>
                        <input type="text" class="form-control" name="instructor">
                        <label>Subject</label>
                        <input type="text" class="form-control" name="subject">
                        <label>Catalog Number</label>
                        <input type="text" class="form-control" name="catalog_num">
                        <label>Section</label>
                        <input type="text" class="form-control" name="section">
                        <label>Room</label>
                        <input type="text" class="form-control" name="room">
                        <label>Meeting Days</label> (ex. MoWeFr)
                        <input type="text" class="form-control" name="meeting_days">
                        <label>Start Time</label> (ex. 09:00AM)
                        <input type="text" class="form-control" name="start_time">
                        <label>End Time</label> (ex. 09:50AM)
                        <input type="text" class="form-control" name="end_time">
                        <label>Seats</label>
                        <input type="text" class="form-control" name="seats">
                        <label>Topic</label> (ex. null)
                        <input type="text" class="form-control" name="topic">
                        <label>Component</label> (ex. LEC)
                        <input type="text" class="form-control" name="component">
                        <label>Class Number</label>
                        <input type="text" class="form-control" name="16834">
                        <label>Course ID</label>
                        <input type="text" class="form-control" name="course_id"><br>
                        <input type="submit" class="form-control">
                    </form>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
  </body>
</html>