<!--<p>Howdy! Here's a list of awesome computer scientists. Do you know any others? Add to the list yourself.</p>

<form (submit)="addName()">
  <input [(ngModel)]="newName" name="newName" placeholder="Awesome Computer Scientist">
  <button type="submit">Add</button>
</form>

<ul>
  <li *ngFor="let name of names">{{name}}</li>
</ul>-->

<div class="container-fluid">
  <!--Top purple row 'Et tu Brute?'--> 
  <div class="row top">
      <div style="margin-top: 225px">
          <h1 class="text-center gold-text">Et Tu Brute?</h1>
          <h2 class="text-center gold-text lato animate slideInDown">Northwestern University Course Scheduling Made Easy.</h2>
          <p class="text-center">
          <br>
          <a href="/register" class="btn btn-gold btn-lg btn-huge">Sign Up Now</a>
          </p>
      </div>
  </div>
  <!--Second row, white, three columns-->
    <div class="row middle">
        <div class="col-sm-1; col-lg-2"></div>
        <div class="col-md-10; col-lg-8 tri-padding">
            <div class="col-xs-12 col-sm-4" style="min-height: 200px; text-align: center">
                <h3><b>Smart Search</b></h3>
                <p style="padding-top: 10px">Accurately search through tens of thousands of classes in a matter of seconds.</p>
                <img src="/images/list.png" style="width:40px;height:40px; position: absolute; bottom: 0; margin-left: -20px">                       
            </div>
            <div class=" col-xs-12 col-sm-4" style="min-height: 200px; text-align: center">
                <h3><b>Easy Planning</b></h3>
                <p style="padding-top: 10px">Don't waste hours of time planning next quarter's class schedule.</p>
                <img src="/images/watch.png" style="width:40px;height:40px; position: absolute; bottom: 0; margin-left: -20px">  
            </div>
            <div class=" col-xs-12 col-sm-4" style="min-height: 200px; text-align: center">
                <h3><b>In-Depth Reviews</b></h3>
                <p style="padding-top: 10px">Find out about class information, difficulty, professor's rating and other students' reviews, all in one place.</p>
                <img src="/images/detail.png" style="width:40px;height:40px; position: absolute; bottom: 0; margin-left: -20px">  
            </div>
        </div>
        <div class="col-md-1; col-lg-2"></div>                    
    </div>
</div>
