input {
    border-radius: 0px;
}

div {
  color: white;
}

span {
    border-radius: 0px;
    width: 100% !important
}

.select-container {
  height: 100%;
}

.select2 {
    border-radius: 0px;
    /*width: 100% !important;*/
    width: 100% !important;
    height: 50px;
}

.select2-container {
    border-radius: 0px;
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
    width: 100% !important;
    height: 100%;
}

.select2-container--default {
    width: 100% !important;
}

.select2-selection {
  height: 50px;
}

.select2-selection--single {
  height: 50px;
}

.input-row {
  height: 100%;
}
