<div class="container">
    <div class="col-md-8">
      <div class="row input-row">
          <div class="col-xs-12">
              <input class="form-control" [formControl]="searchTerm" type="text" />
          </div>
      </div>

      <div class="row" style="margin-top: 15px; margin-bottom: 15px">
          <div class="col-md-4 col-xs-4 select-container">
              <select2 class="select2" style="height: 50px" [data]="termNames" (valueChanged)="changed($event, 'term')"></select2>
          </div>
          <div class="col-md-4 col-xs-4">
              <select2 class="select2" [data]="subjectSymbols" (valueChanged)="changed($event, 'subject')"></select2>
          </div>
          <div class="col-md-4 col-xs-4">
              <select2 class="select2" [data]="factors" (valueChanged)="changed($event, 'factor')"></select2>
          </div>
      </div>

      <div *ngIf="courses.length == 0" style="text-align: center">
        <h3>No courses fit search parameters.</h3>
      </div>
      <div *ngIf="courses.length > 0" infinite-scroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="300"
      (scrolled)="scrolledBottom()" style="height: 100%">
        <course-listing  *ngFor="let course of courses" [course]="course"
        (courseEnter)="addToCalendar($event)" (courseLeave)="removeFromCalendar($event)">
      </course-listing>
     </div>
   </div>

   <div class="col-md-4 hidden-sm hidden-xs" style="position: fixed; top: 100px; right: 25px">
     <calendar [courses]="currentUser.courses" [term]="term" [colorClass]="'white-text'"></calendar>
   </div>
</div>
