.fc-event {
    border-color: #fff !important;
    font-size: .75em !important;
}

.panel {
    overflow: visible;
}

@media (max-width: 1000px) {
    .fc-event {
        border-color: #fff !important;
        font-size: .6em !important;
    }
}

@media (max-width: 320px) {
    .fc-event {
        border-color: #fff !important;
        font-size: .3em !important;
    }
}

.fc-event-container {
    margin: 0 !important;
}

/* course listing styles */
.course-list-item {
    border: 1px solid #634b89 !important;
    background-color: #fff;
}

a.list-group-item, button.list-group-item {
    color: #634b89
}

.panel {
    background-color: #fff;
}

.fc-axis {
    color: #634b89;
}

.fc-day-header {
    color: #634b89;
}

#calendar {
    border: 1px solid #634b89 !important;
    /*border-left: 1px solid #634b89 !important;
    border-right: 1px solid #634b89 !important;*/
    color: #634b89;
}

/* remove border shadow on calendar panel */
.course-panel {
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* calendar make fit heading */
.calendar-body {
    padding-left: 0px;
    padding-right: 0px;
}
