<div class="container-fluid">
  <div class="hidden-sm col-md-1"></div>
  <div class="panel panel-default col-sm-12 col-md-10">
    <div class="panel-heading">
      <h3>Dashboard</h3>
    </div>
    <div class="panel-body">
      <div class="col-sm-8">
      <div class="panel panel-default">
          <div class="panel-heading">
            My Weekly Schedule
          </div>
          <term-tabs [terms]="terms" [term]="term" (activeTerm)="activateTerm($event)"></term-tabs>
          <div class="panel-body" style="padding: 0px">
            <calendar [courses]="courses" [term]="term" [colorClass]="'purple-text'"></calendar>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            Current Courses
          </div>
          <div class="panel-body" style="padding: 0px">
            <div *ngFor="let course of courses">
              <a class="course-list-item list-group-item" [routerLink]="'/course/' + course.id">
                {{course.subject + ' ' + course.catalog_num + ' ' + course.title}}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hidden-sm col-md-1"></div>
</div>
